# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Build artifacts
*.exe
youtube-searchapi

# Cache
cache.db

# GitHub
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
*.md
